body.app{
    background: none !important;
    // background-repeat: none !important;
    // background-attachment: none !important;
    // padding-top: none !important;
    // padding-bottom: none !important;
}
.label{ 
     margin-bottom: 0px; 
}
.dvNewPassword,.dvEnterOTP{
    display: none;
}