.p-5 {
    padding: 1.25rem !important;
  }
  .px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }

  .py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
  }