<iframe width="100%" height="100%"
    src="https://app.powerbi.com/view?r=eyJrIjoiMWYzNGJmNzItYTNhYy00MTJmLTg0NzItNzI3Mzk0Y2JjNTY2IiwidCI6ImRkNjUxYmFkLThkNmUtNDE2YS1iMWM2LTY2MzNhZTEyOTFmMCJ9&pageName=ReportSection3ebe55a05041336b2017"
    frameborder="0" allowFullScreen="true" frameborder="0"></iframe>

<!-- style="position:absolute; clip:rect(0px,1100px,543px,0px);bottom:-0px;" -->

<!-- <div style=" width: 100%;" [ngStyle]="{ 'height': (screenHeight-150)+ 'px' }" #embeddedReport>
</div> -->

<!-- 
<iframe #embeddedReport></iframe> -->